openapi: '3.0.0'
info:
  version: 1.0.0
  title: Paperguide API
  license:
    name: MIT
servers:
  - url: https://api.paperguide.com/v1
paths:
  /signatures:
    get:
      summary: List all signatures
      operationId: listSignatures
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of signatures
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signatures'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a signature
      operationId: createSignatures
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /signatures/{signatureId}:
    get:
      summary: Info for a specific signature
      operationId: showSignatureById
      parameters:
        - name: signatureId
          in: path
          required: true
          description: The id of the signature to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signatures'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /signature-types:
    get:
      summary: Retrieve available signature types
      operationId: listSignatureTypes
      parameters:
        - name: category
          in: query
          description: Filter by category like handwritten or typed
          required: false
          schema:
            type: string
      responses:
        200:
          description: List of signature types with details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureTypes'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Signature:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        type:
          type: string
    Signatures:
      type: array
      items:
        $ref: '#/components/schemas/Signature'
    SignatureTypes:
      type: array
      items:
        type: object
        properties:
          name:
            type: string
          description:
            type: string
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string